.lead {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__headline-col {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }

    &__left {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1003px;
        margin-right: 77px;
    }

    &__title {
        font-family: 'AmericanTypewriter';
        font-weight: 400;
        font-size: 100px;
        line-height: 90px;
        margin: 180px 0 89px 69px;
        z-index: 6;
    }

    &__about {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        width: 100%;
        max-width: 243px;
        margin: 0 0 90px 67px;
        z-index: 6;
    }

    &__back-gradient {
        width: 743px;
        height: 387px;
        position: absolute;
        top: 290px;
        right: 150px;
        background: linear-gradient(to top, $smallGradientFrom 100%, $smallGradientTo 5%);
    }

    &__back-rectangle {
        width: 624px;
        height: 829px;
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(to top, $largeGradientTo 100%, $largeGradiaentFrom 0%);
    }

    &__picture {
        position: absolute;
        right: 0;
        top: 0;
        width: 624px;
        height: 829px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1920px;
        padding: 0 113px 0 98px;
        min-height: 829px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__italic-col {
        writing-mode: vertical-rl;
    }

    &__btn {
        margin-left: 65px;
        z-index: 4;
    }

    &__right {
        width: 100%;
        max-width: 609px;
    }

    &__controls {
        float: right;
    }

    &__slider-left,
    &__slider-right {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    &__slider-left {
        margin-right: 28px;
    }

    &__more {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        margin: 88px 0 7px 0;
    }
    &__link {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 243px;
    }

    &__link-text {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 22px;
        color: #3E4A86;
        margin: 0 24px 0 0;
    }

}
.slider {
    position: relative;
    width: 100%;
    min-height: 520px;

    &__content {
        display: none;
    }

    &__slider-left,
    &__slider-right {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    &__slider-left {
        margin-right: 28px;
    }
}

.slide {
    display: flex;
    flex-direction: column;
    


    &__image {
        width: 100%;
        height: 255px;
        margin-bottom: 27px;
    }

    &__date {
        font-family: 'Lato';
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        color: #4A4A4A;
        margin-bottom: 20px;
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        margin: 0;
        margin-bottom: 30px;


    }

    &__about {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 22px;
        color: #4F4F4F;
        margin: 0;
    }

    

    
}
