$white: #ffffff;
$black: #000000;
$grey: #F9F9F9;
$text14: #474951;
$btn: #3E4A86;
$arrowHeader: #D1D1D1;
$arrowLargeSlider: #393131;
$largeGradiaentFrom: #EEEEEC;
$largeGradientTo: #E8E7E5;
$smallGradientFrom: #E5DEDE;
$smallGradientTo: #F5F3F4;
$colorDarkGray: #4F4F4F;
$backgroung: #111111;
$input: #8D8D8D;

