.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $btn;
    border-radius: 6px;
    padding: 23px 26px 21px 38px;
    width: 100%;
    max-width: 264px;

    &__btn-text {
        font-size: 'Montserrat';
        font-weight: 700;
        color: $white;
        font-size: 18px;
        line-height: 26px;
        margin: 0 58px 0 0;
        position: relative;
    
        &:after {
            content: '';
            position: absolute;
            background-color: $white;
            width: 1px;
            height: 47px;
            top: -11px;
            right: -29px;
        }
    }
    
        &__arrow-right {
            fill: $arrowHeader;
        }
}
