mixin cards()
    +b.cards 
        +e.inner
            +e.wrapper
                +e.card 
                    +icon('card-icon-1', 70, 70).cards__icon
                    +e.title Мониторинг <br> в реальном времени
                    +e.dsc Будьте в курсе, что пишут ваши конкуренты на своих страницах в социальных сетях.
                    +e.back
