.contact {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
        width: 100%;
        max-width: 1920px;
        min-height: 284px;
        background-image: url(/assets/images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__wrapper {
        width: 100%;
        max-width: 1534px;
        margin: 100px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__acsess {
        font-family: 'NimbusMono';
        font-weight: 700;
        color: $white;
        font-size: 40px;
        line-height: 50px;
        width: 100%;
        max-width: 244px;
        margin: 0;
    }

    &__dsc {
        font-family: 'Roboto';
        color: $white;
        font-size: 14px;
        line-height: 22px;
        width: 100%;
        max-width: 326px;
        margin: 0;
    }

    &__input {
        width: 100%;
        max-width: 478px;
        padding: 11px 20px;
        font-family: 'NimbusMono';
        font-size: 26px;
        line-height: 40px;
        color: $white;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $input;
    }
}

.input::placeholder {color: $white;}
