include /node_modules/bemto.pug/bemto.pug

doctype html
html(lang='ru')
    head
        title
            block title
                | Page
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1', name='viewport')
    body
        block content
