include /node_modules/bemto.pug/bemto.pug
include /components/header/header

doctype html
html(lang='ru')
    head
        title
            block title
                | Page
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1', name='viewport')
    body
        +header
        main.main
            block content
