.large-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 56px;
    margin-bottom: 56px;

    &__inner {
        width: 100%;
        max-width: 1920px;
        background-image: linear-gradient(rgba(236, 236, 236, 0.54) 0%, rgba(251, 251, 251, 0.44) 100%)
    }

    &__content-wraper {
        width: 100%;
        max-width: 1476px;
        margin: 0 auto;
        position: relative;
    }

    &__slider {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4px;
    }

    &__content {
        display: none;
    }

    &__slide {
        display: flex;
    }

    &__card {
        width: 100%;
        max-width: 428px;
        display: flex;
        flex-direction: column;
        margin-right: 80px;
        &:last-of-type {
            margin-right: 0;
        }
    }

    &__image {
        min-height: 238px;
        border-radius: 8px;
    }

    &__title {
        font-family: 'NimbusMono';
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;
        min-height: 90px;
        align-items: center;
    }

    &__dsc {
        padding: 30px 0 0 0;
        border-top: 1px solid $black;
        font-family: 'Roboto';
        color: $colorDarkGray;
        font-size: 14px;
        line-height: 22px;
    }

    &__left-arrow,
    &__right-arrow {
        fill: $arrowLargeSlider;
        padding: 30px;
        background-color: $white;
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

    &__left-arrow {
        position: absolute;
        top: 50%;
        left: -45px;
    }

    &__right-arrow {
        position: absolute;
        top: 50%;
        right: -45px;
    }
}
