include /components/icon/icon

mixin large-slider()
    +b.large-slider
        +e.inner
            +e.content-wraper
                +e.slider
                    +e.content
                        +e.slide
                            +e.card 
                                +e.IMG.image(src='~images/large-slider/keyboard.jpg' alt="Клавиатура")
                                +e.title Мониторинг сайта
                                +e.P.dsc Узнайте первым о новых и измененных страницах на сайтах конкурентов. Получайте оповещения в случае изменения цен или публикации акций.
                            +e.card 
                                +e.IMG.image(src='~images/large-slider/heart.jpg' alt="Клавиатура")
                                +e.title Мониторинг социальных сетей
                                +e.P.dsc Будьте в курсе, что пишут ваши конкуренты на своих страницах в социальных сетях.
                            +e.card 
                                +e.IMG.image(src='~images/large-slider/mobile.jpg' alt="Клавиатура")
                                +e.title Мониторинг упоминаний
                                +e.P.dsc Отслеживайте упоминания о конкурентах в СМИ и социальных сетях. Система автоматически определяет тональность комментариев и реакцию аудитории.
                        +e.slide
                            +e.card 
                                +e.IMG.image(src='~images/large-slider/keyboard.jpg' alt="Клавиатура")
                                +e.title Мониторинг сайта
                                +e.P.dsc Узнайте первым о новых и измененных страницах на сайтах конкурентов. Получайте оповещения в случае изменения цен или публикации акций.
                            +e.card 
                                +e.IMG.image(src='~images/large-slider/heart.jpg' alt="Клавиатура")
                                +e.title Мониторинг социальных сетей
                                +e.P.dsc Будьте в курсе, что пишут ваши конкуренты на своих страницах в социальных сетях.
                            +e.card 
                                +e.IMG.image(src='~images/large-slider/mobile.jpg' alt="Клавиатура")
                                +e.title Мониторинг упоминаний
                                +e.P.dsc Отслеживайте упоминания о конкурентах в СМИ и социальных сетях. Система автоматически определяет тональность комментариев и реакцию аудитории.
                        +e.slide
                            +e.card 
                                +e.IMG.image(src='~images/large-slider/keyboard.jpg' alt="Клавиатура")
                                +e.title Мониторинг сайта
                                +e.P.dsc Узнайте первым о новых и измененных страницах на сайтах конкурентов. Получайте оповещения в случае изменения цен или публикации акций.
                            +e.card 
                                +e.IMG.image(src='~images/large-slider/heart.jpg' alt="Клавиатура")
                                +e.title Мониторинг социальных сетей
                                +e.P.dsc Будьте в курсе, что пишут ваши конкуренты на своих страницах в социальных сетях.
                            +e.card 
                                +e.IMG.image(src='~images/large-slider/mobile.jpg' alt="Клавиатура")
                                +e.title Мониторинг упоминаний
                                +e.P.dsc Отслеживайте упоминания о конкурента
                +e.controls 
                    +e.left-arrow.link
                        +icon('arrow-left')
                    +e.right-arrow.link
                        +icon('arrow_right')
