extends /layouts/page
include /components/title/title
include /components/icon/icon
include /components/lead/lead

block title
    | Главная

block content

    +lead 
    
    //- h1.title1 TEST
    //- +title('Главная страница')
    //- img(src='~images/lorem-img.png', width='300px')
    //- +icon('clock', 100, 100)
    
    //- span= data.example.test
