$description: (
  'family': 'OpenSans',
  'folder': '/assets/fonts/OpenSans/',
  'ext': ['woff2', 'eot', 'woff'],
  'fonts': [
    ('weight': 400, 'path': 'Italic', 'style': 'italic'),
    ('weight': 700, 'path': 'Bold'),
    ('weight': 400, 'path': 'Regular'),
  ],
);
